<h2>Welcome</h2>
        <p>Welcome to the About page!</p>
        
        <h2>My Journey</h2>
	<p>My name is Henisha Kakaiya</p>
	<p>I am the student of WEB700. My student ID: 136840238</p>
        <p>I am currently exploring the world of web and my focus is to learn HTML,CSS and JavaScript</p>

        